html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    background-color: #d8d6d6;
    font-family: 'Roboto', sans-serif;
}

%universal-styles {
    width: 240px;
    margin: 0 auto;
}

.section__wrapper {
    background-color: #fff;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    &::before, &::after {
        content: "";
        display: block;
        clear: both;
    }
    .background__image {
        background: url('../images/pexels-photo-1282173.jpeg');
        background-size: contain;
        position: relative;
    }
    .row__image {
        text-align: center;
        min-width: 260px;
        min-height: 260px;
        border-radius: 3%;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(48,48,48,1);
        -moz-box-shadow: 0px 0px 8px 1px rgba(48,48,48,1);
        box-shadow: 0px 0px 8px 1px rgba(48,48,48,1);
        img {
            margin-top: 10px;
            width: 240px;
            height: 120px;
            background-size: cover;
            border-radius: 5px;
        }
        .icon{
            font-size: 4.5rem;
            line-height: 150%;
        }
        
        p {
            font-size: 0.65rem;
            opacity: 0.6;
            line-height: 200%;
        }
        .row__image__div--first {
            text-align: left;
            @extend %universal-styles;
        }
        .row__image__div--second {
            @extend %universal-styles;
            i {
                background: linear-gradient(120deg, rgb(253, 220, 74), rgb(252, 110, 34));
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .row__image__div--third {           
            position: absolute;
            width: 260px;
            height: 260px;
            background: rgba(0, 0, 255, .5);
            color: white;
            border-radius: 3%;
            h2, p, i {
                @extend %universal-styles;
            }
        }
    }
    .row__button {
        line-height: 40px;
        border-radius: 50%;
        min-width: 40px;
        width: 40px;
        height: 40px;
        color: white;
        background-color: #afaaaa;
        border: none;
        font-size: 2rem;
        margin: 0 30px;
        &:hover {
            cursor: pointer;
        }
        &:active {
            background-image: linear-gradient(to right, #9b23ea 10%, #211991 100%);
        }
    }
}

.section__button {
    margin-left: 50%;
    width: 200px;
    height: 50px;
    transform: translateX(-50%);
    margin-bottom: 1%;
    border: double 2px transparent;
    border-radius: 7px;
    background-image: linear-gradient(white, white), linear-gradient(to right, #9b23ea 10%, #211991 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: #fff;
    color: #9b23ea;
}

h2 {
    font-size: 0.8rem;
    line-height: 200%;
    letter-spacing: 0.1rem;
    line-height: 300%;
}

@media screen and (max-width: 1000px) {
    .row {
        position: relative;
        height: 100%;
        flex-direction: column;
        .row__image {
            width: 390px;
            height: 390px;
            margin-top: 3%;
            img {
                width: 360px;
                height: 180px;
            }
            .icon{
                font-size: 6rem;
                line-height: 180%;
            }
            h2 {
                font-size: 1.1rem;       
            }
            p {
                font-size: 0.9rem;
            }
            .row__image__div--first, .row__image__div--second {
                width: 360px;
            }
            .row__image__div--third {
                width: 390px;
                height: 390px;
            }
        }        
        .row__button {
            display: none;
        }
        %universal-styles {
            width: 360px;
        }
    }
    .section__button {
        position: fixed;
        top: 0;
    }
    section {
        padding-top: 40px;
    }
}

@media screen and (max-width: 400px) {
    .row {
        width: 100vw;
        .row__image {
            width: 100vw;
            height: 100vw;
            min-height: 370px;
            img {
                width: 90vw;
                height: 90vw * (120/240);
            }
            .row__image__div--first, .row__image__div--second {
                width: 90vw;
            }
            .row__image__div--third {
                width: 100vw;
            }
        }
    }
    section {
        padding-top: 45px;
    }
    %universal-styles {
        width: 90vw;
    }
}